@model IEnumerable<Fritter.Models.Treat>

@{
    ViewBag.Title = "MyTreats";
}

<h2>MyTreats</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Creator.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Creator.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStamp)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TreatId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TreatId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TreatId })
        </td>
    </tr>
}

</table>
